<template>
  <div class="flex flex-col items-center mt-20 text-white">
    <!-- TODO: Include a picture avatar -->
    <h1 class="text-2xl font-bold">taksuyu</h1>

    <!-- TODO: Display lengthwise with unicode dots between on wide displays -->
    <ul class="text-center mt-5">
      <li>Software Developer</li>
      <li>IT Specialist</li>
      <li>Mahjong Enthusiast</li>
    </ul>

    <!-- TODO: I'd like to make something like a tap button for these links -->
    <ul class="flex flex-col md:flex-row mt-5 items-center">
      <li>
        <a href="https://gitlab.com/taksuyu" target="_blank" rel="noopener">
        <font-awesome :icon="['fab', 'gitlab']"/>
        Gitlab
        </a>
      </li>
      <li>
        <a href="https://github.com/taksuyu" target="_blank" rel="noopener">
        <font-awesome :icon="['fab', 'github']"/>
        Github
        </a>
      </li>
      <!-- TODO: More in depth about page -->
      <!-- TODO: Contact page link -->
    </ul>

    <!-- TODO: Projects or link to project page -->
    <!-- TODO?: Could have an interactable canvas where a person clicks and a shooting star flies off -->
  </div>
</template>

<script>
export default {
  metaInfo: {
    title: "Home"
  }
}
</script>

<style>
body {
  background-color: #0b0627;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='352' height='352' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%230b0627' stroke-width='2'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23555351'%3E%3Ccircle cx='769' cy='229' r='8'/%3E%3Ccircle cx='539' cy='269' r='8'/%3E%3Ccircle cx='603' cy='493' r='8'/%3E%3Ccircle cx='731' cy='737' r='8'/%3E%3Ccircle cx='520' cy='660' r='8'/%3E%3Ccircle cx='309' cy='538' r='8'/%3E%3Ccircle cx='295' cy='764' r='8'/%3E%3Ccircle cx='40' cy='599' r='8'/%3E%3Ccircle cx='102' cy='382' r='8'/%3E%3Ccircle cx='127' cy='80' r='8'/%3E%3Ccircle cx='370' cy='105' r='8'/%3E%3Ccircle cx='578' cy='42' r='8'/%3E%3Ccircle cx='237' cy='261' r='8'/%3E%3Ccircle cx='390' cy='382' r='8'/%3E%3C/g%3E%3C/svg%3E");
  /* background by SVGBackgrounds.com */
}
</style>