<template>
    <div>
        <a href="{{ link_to }}" target="_blank" rel="noopener">
            <font-awesome :icon="['fab', '{{ icon }}']"/>
            {{ text }}
        </a>
    </div>
</template>

<script>
export default {
    name: 'Social Link',
    data ()
}
</script>